.app{
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.auth{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
