.userHome{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
/* Navigation bar styling */
.navBar{
    user-select: none;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgb(68, 146, 68) 3%, rgb(100, 218, 100) 20%);
}
.navBar > div:nth-child(1){ padding: 0 10px;  width: 20%; }
.navBar > div:nth-child(2){ justify-content: center;  width: 100%; color:whitesmoke; text-shadow: 0px 0px 10px darkgreen; }
.navBar > div:nth-child(3){ justify-content: flex-end; padding: 0 10px;  width: 20%; }

.navBar > div{ 
    display: flex; 
    box-sizing: border-box; 
    align-items: center;
    text-align: center;
}

/* Panes styling */
.mainbody{
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
    margin: 0 auto;
}

.mainbody > div{
    margin: 20px;
}

.title{
    font-size: x-large;
    outline: none;
    border: 3px solid rgba(0, 126, 0, 0) ;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    transition: all 0.15s;
}
.seperator{
    width: 100%;
    margin: 5px 0;
    background-color: green;
    border: 0.5px solid green;
}
.content{
    font-size: x-large;
    outline: none;
    resize: none;
    border: 3px solid rgba(0, 126, 0, 0) ;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    transition: all 0.15s;
}

/* focus handling */
.title:focus, .content:focus{
    border: 3px solid rgba(0, 126, 0, 1) ;
}

/*   //////////////////////   add Button  styling     ////////////////  */
.addBtn {
    user-select: none;
    width: 315px;
    height: 335px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500px;
    border-radius: 20px;
    padding: 20px;
    color: green;
    background-color: rgba(213, 253, 152, 0.5);
    box-shadow: 5px 5px 10px rgba(2, 95, 7, 0.5);
    transition: 0.10s;
    box-sizing: border-box;
    overflow: hidden;
}
.addBtn:focus{ border: 5px solid green; }
.addBtn:hover{ background-color: rgba(146, 180, 94, 0.63); }
.addBtn:active{ background-color: rgba(7, 196, 7, 0.301); box-shadow: 3px 3px 3px rgba(2, 95, 7, 0.5);}


/*   //////////////////////   diaryEntryContainer  styling     ////////////////  */
.diaryEntryContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    /* width: 100%; */
    /* height: 100%; */
    /* margin: 0 auto; */
}
.diaryEntryContainer > div:nth-child(1){
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    -webkit-text-stroke: 2px darkgreen;
    text-align: center;
    font-size: 25px;
}
.diaryEntryContainer > div{ margin: 20px; }


@media only screen and (max-width: 500px){
    .diaryEntryContainer > div:nth-child(1){ font-size: 15px; -webkit-text-stroke: 1px darkgreen; } 
}
